[submodule "build-tools"]
	path = build-tools
	url = https://github.com/ArcticNature/build-tools.git
[submodule "core"]
	path = core
	url = https://github.com/ArcticNature/core.git
[submodule "extentions"]
	path = extentions
	url = https://github.com/ArcticNature/extentions.git
[submodule "documents"]
	path = documents
  url = https://github.com/ArcticNature/docs.git
[submodule "dependencies"]
	path = dependencies
	url = https://github.com/ArcticNature/dependencies.git
